*,:after,:before {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

li {
	list-style: none
}

q:after,q:before {
	content: ""
}

input:password {
	ime-mode: disabled
}

:focus {
	outline: none
}

body,html {
	min-height: 100%
}

body {
	-webkit-user-select: none;
	user-select: none
}

a,img {
	-webkit-touch-callout: none
}

body,button,input,select,textarea {
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	font-family: Helvetica Neue,Helvetica,STHeiTi,sans-serif
}

a {
	text-decoration: none
}

.flexbox {
	display: flex;
	flex-direction: row
}

.flexbox .flexbox-item {
	box-sizing: border-box;
	flex: 1
}

.flexbox-v {
	display: flex;
	flex-direction: column
}

.flexbox-v .flexbox-item {
	box-sizing: border-box;
	flex: 1
}

img,video {
	display: block
}

.fn-hidden {
	display: none
}

.header {
	height: 45px;
	background-color: #f0f4f7;
	align-items: center
}

.header .logo {
	margin-left: 30px;
	margin-right: 60px;
	width: 129.24637681px
}

.header .logo img {
	width: 100%;
	height: 100%
}

.header .menu {
	height: 100%
}

.header .menu a {
	flex: 1;
	height: 45px;
	line-height: 45px;
	text-align: center;
	width: 73.5px;
	color: #231815;
	font-size: 16.5px
}

.header .menu a:hover {
	background-color: #162d90;
	color: #fff;
	font-weight: 700
}

.header .right {
	margin-right: 30px
}

.header .right a {
	height: 45px;
	width: 50px;
	background-size: 100% auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 28px
}

.header .right a.discord {
	background-image: url(res/discord.png)
}

.header .right a.twitter {
	background-image: url(res/twitter.png)
}

.banner {
	position: relative
}

.banner .bg {
	width: 100%
}

.banner .face_text {
	width: 64%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 52%;
	top: 44%;
}

.banner .face {
	width: 22%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 44%;
}

.banner .buy{
	width: 22%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: 1%;
}

.banner a {
	position: absolute;
	bottom: 13%;
	left: 50%;
	transform: translateX(-50%);
	height: 66.5px;
	line-height: 66.5px;
	width: 300px;
	text-align: center;
	background-color: #fad241;
	border-radius: 50px;
	color: #162d90;
	font-size: 27px;
	font-weight: 700
}

.learn {
	background-color: #162d90;
	padding: 70px 0;
	position: relative
}

.learn .cell {
	max-width: 750px;
	margin: 0 auto
}

.learn .content {
	color: #fff;
	margin-right: 55px
}

.learn .content h3 {
	font-size: 24px;
	margin-bottom: 15px
}

.learn .content p {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400
}

.learn .image {
	align-self: center
}

.learn .image img {
	max-height: 256.5px
}

.learn:after {
	content: "";
	display: block;
	width: 78.5px;
	height: 78.5px;
	background: #162d90;
	position: absolute;
	bottom: -52px;
	right: 0
}

.rarity .section {
	color: #162d90
}

.rarity .section .cell {
	max-width: 750px;
	margin: 0 auto
}

.rarity .section h3 {
	font-size: 24px
}

.rarity .section .content {
	margin-top: 13.5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px
}

.rarity .section .content_price {
	margin-top: 13.5px;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px
}

.rarity .section .content_price b {
	color: #ff7171;
	font-weight: 400
}

.rarity .section .image {
	padding: 48px 0
}

.rarity .section .image img {
	width: 100%
}

.rarity .section.how {
	padding-top: 67.5px
}

.rarity .section.why {
	position: relative
}

.rarity .section.why .image {
	width: 960px;
	padding: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1
}

.rarity .section.why .video {
	margin-top: 57px;
	border: 4px solid #fad241
}

.rarity .section.why .cell .title {
	margin-top: 15px;
	text-align: center;
}

.rarity .section.price {
	margin-top: 48px;
	margin-bottom: 72px
}

.rarity .section.future {
	background-color: #fad241;
	padding-top: 81.5px;
	padding-bottom: 62px;
	position: relative
}

.rarity .section.future .right {
	margin-left: 50px;
	margin-top: 15%;
}

.rarity .section.future .right .video {
	margin: auto;
	width: 231px;
	height: 231px;
	border: 4px solid rgba(0,0,0,.2);
	box-sizing: content-box;
}

.rarity .section.future:before {
	background-color: #fad241;
	left: 0;
	top: -56.5px
}

.rarity .section.future:after,.rarity .section.future:before {
	content: "";
	height: 78.5px;
	width: 78.5px;
	display: block;
	position: absolute
}

.rarity .section.future:after {
	background-color: #162d90;
	right: 0;
	bottom: -16px
}

.faq {
	position: relative;
	background-color: #162d90;
	color: #fff
}

.faq .cell {
	max-width: 750px;
	margin: 0 auto;
	padding-top: 96.5px;
	padding-bottom: 71.5px
}

.faq dl dt {
	color: #fad241;
	font-size: 24px;
	margin-bottom: 17px
}

.faq dl dd {
	margin-bottom: 40px;
	line-height: 32px;
	font-weight: 400;
	font-size: 16px
}

.faq dl a {
	color: #fff;
	text-decoration: underline
}

.faq:before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: 10%;
	width: 168.5px;
	height: 67px;
	transform: scale(.75);
	transform-origin: left top;
	background-size: 100% auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(res/faq.png)
}

.roadmap {
	color: #162d90;
	position: relative
}

.roadmap:before {
	top: 0;
	left: 10%;
	width: 361px;
	height: 76.5px;
	transform: scale(.75);
	transform-origin: left top;
	background-size: 100% auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(res/roadmap.png)
}

.roadmap:after,.roadmap:before {
	content: "";
	display: block;
	position: absolute
}

.roadmap:after {
	height: 78.5px;
	width: 78.5px;
	background-color: #162d90;
	right: 0;
	top: -26px
}

.roadmap .content {
	padding: 105.5px 0 66px;
	max-width: 750px;
	margin: 0 auto
}

.roadmap .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	overflow: hidden
}

.roadmap .bg img {
	height: 80%;
	opacity: 1%
}

.roadmap dl {
	margin-bottom: 31.5px
}

.roadmap dl:last-child {
	margin-bottom: 0
}

.roadmap dl dt {
	font-size: 20px;
	line-height: 40px
}

.roadmap dl dd {
	font-size: 16px;
	line-height: 32px
}

.footer {
	height: 54px;
	background-color: #fad241;
	align-items: center;
	padding: 0 75px
}

.footer .left img {
	height: 26px
}

.footer .copyright {
	color: #162d90;
	font-size: 14px
}

@media (max-width:419px) {
	.header .logo {
		margin-left: 5px;
		margin-right: 5px;
		overflow: hidden;
		width: 22px
	}

	.header .logo img {
		width: 130px;
		height: 26px
	}

	.header .menu a {
		width: auto;
		padding: 0 5px;
		font-size: 12px
	}

	.header .right {
		margin-right: 0
	}

	.header .right a {
		width: 30px;
		background-size: 18px
	}

	.banner a {
		bottom: 20px;
		font-size: 14px;
		height: 35.6px;
		line-height: 35.6px;
		width: 171.6px
	}

	.learn .cell {
		display: flex;
		flex-direction: column
	}

	.learn .cell .flexbox-item {
		box-sizing: border-box;
		flex: 1
	}

	.learn .content {
		padding: 0 20px;
		margin-right: 0;
		margin-bottom: 40px
	}

	.rarity .section .cell {
		padding: 0 20px
	}

	.rarity .section.why .image {
		width: 100%
	}

	.rarity .section.future .cell {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.rarity .section.future .cell .flexbox-item {
		box-sizing: border-box;
		flex: 1
	}

	.rarity .section.future .cell .content {
		margin-bottom: 10px
	}

	.rarity .section.future .cell .right {
		margin: 0 auto
	}

	.faq .cell,.roadmap .content {
		padding-left: 20px;
		padding-right: 20px
	}

	.footer {
		padding: 0 20px
	}
}

.dialog {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.2)
}

.dialog .dialog-wrapper {
	position: relative;
	width: 553px;
	height: 323px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #162d90
}

.dialog .dialog-wrapper .close {
	width: 17px;
	height: 17px;
	line-height: 17px;
	position: absolute;
	top: 14px;
	right: 14px
}

.dialog .dialog-wrapper .close,.mint-title {
	font-size: 36px;
	font-family: Arial;
	font-weight: 700;
	color: #fff
}

.mint-title {
	text-align: center;
	padding-top: 8px
}

.mint-content {
	color: #fff;
	padding-right: 32px
}

.mint-content .mint-left {
	width: 200px;
	padding-top: 20px
}

.mint-content .mint-left img {
	display: block;
	margin: 0 auto;
	max-width: 124px
}

.mint-content .mint-desc {
	margin-top: 20px
}

.mint-content .mint-number-select {
	margin-top: 20px;
	height: 50px;
	line-height: 50px;
	align-items: center;
	padding-left: 30px
}

.mint-content .mint-number-select .mint-add,.mint-content .mint-number-select .mint-minus {
	width: 30px;
	height: 30px;
	background-color: #b5b5b5;
	text-align: center;
	line-height: 30px;
	font-size: 36px;
	font-family: Arial;
	font-weight: 400;
	color: #000
}

.mint-content .mint-number-select .mint-number {
	width: 140px;
	text-align: center;
	font-size: 36px
}

.mint-content .mint-number-select .mint-unit {
	margin-left: 30px
}

.mint-content .mint-count hr {
	height: 1px;
	border: 0;
	background: #fff
}

.mint-content .mint-count dl {
	line-height: 40px
}

.mint-content .mint-count dl dd {
	text-align: right
}

.mint-content .mint-count dl dd span {
	margin-right: 30px
}

.mint-content .mint-control {
	margin-top: 5px
}

.mint-content .mint-control a {
	display: block;
	height: 34px;
	line-height: 34px;
	width: 160px;
	text-align: center;
	background-color: #fad241;
	border-radius: 34px;
	color: #162d90;
	font-size: 18px;
	font-weight: 700
}

@media (max-width:770px) {
	.dialog .dialog-wrapper {
		width: 90%;
		height: 500px
	}

	.dialog .mint-left {
		width: inherit
	}

	.dialog .mint-content {
		padding-left: 32px;
		display: flex;
		flex-direction: column
	}

	.dialog .mint-content .flexbox-item {
		box-sizing: border-box;
		flex: 1
	}

	.dialog .mint-content .mint-desc {
		text-align: center
	}

	.dialog .mint-content .mint-control a {
		margin: 0 auto
	}
	.faq:before {
		left: 0;
	}
	.roadmap:before {
		left: 0
	}
}